@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'BRSonoma-SemiBold';
  src: url('/fonts/BRSonoma-SemiBold.woff2') format('woff2'),
       url('/fonts/BRSonoma-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-br-sonoma: 'BRSonoma-SemiBold', sans-serif;
  --font-family-sans: 'IBM Plex Sans', system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
